* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: black;
  min-height: 5vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 75px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 1px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(1, 139, 139, 0.712);
  display: block;
  margin: auto;
  transition: 0.7s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.flight {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 5px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  padding: 1px;
}
.row1 h2 {
  font-size: 25px;
  font-weight: 400;
}
.row1 {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
.flight-col {
  flex-basis: 30%;
  background: rgba(99, 176, 199, 0.3);
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 10px 4px;
  box-sizing: border-box;
}
.row2 h2 {
  font-size: 25px;
  font-weight: 300;
}
.row2 {
  margin-top: 2%;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
  background: rgba(99, 176, 199, 0.3);
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 15px 8px;
  box-sizing: border-box;
}

input {
  text-decoration: none;
  color: #fff;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  border: 1px solid #fff;
  background: transparent;
  display: inline-block;
  transition: 3s;
}
input:hover {
  background: rgba(3, 231, 231, 0.8);
}
h3 {
  font-size: 30px;
  font-weight: 400;
  color: whitesmoke;
}
